<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost/miracle_xiangqi</property> -->
       	<!-- 测试 -->
        <!-- <property name="hibernate.connection.url">jdbc:mysql://rds1d47eu647k5j8pa7o.mysql.rds.aliyuncs.com/test_xiangqi</property>
         -->
 	  	<!-- 正式  记得改CMD10和117行的url -->   
        <property name="hibernate.connection.url">jdbc:mysql://rdsavq7n2avq7n2.mysql.rds.aliyuncs.com/miracle_xiangqi</property>
        
        <property name="hibernate.connection.password">miracle</property>
        <property name="hibernate.connection.username">cdmrk</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">gb2312</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.autoReconnectForPools">true</property>
        <property name="hibernate.connection.is-connection-validation-required">true</property>
     
	<!--配置连接池  -->
	<property name="hibernate.connection.provider_class">
	org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider
	</property>
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.max_size">100</property>
	<property name="hibernate.c3p0.acquire_increment">1</property> 
    <property name="hibernate.c3p0.idle_test_period">120</property> 
    <property name="hibernate.c3p0.timeout">0</property>
    <property name="hibernate.c3p0.validate">true</property>

	<!-- 指定hibernate管理的映射文件  -->
     <mapping resource="data/AliPay.xml" />
     <mapping resource="data/ApplePay.xml" />
     <mapping resource="data/AppleProduct.xml" />
     <mapping resource="data/BaseData.xml" />
     <mapping resource="data/ChannelEveryday.xml" />
     <mapping resource="data/Count.xml" />
     <mapping class="data.Device" />
     <mapping resource="data/LjPay.xml" />
     <mapping resource="data/Record.xml" />
     <mapping resource="data/StepCount.xml" />
     <mapping class="data.Mobile" />
     <mapping class="data.Tuan" />
     <mapping class="data.Chou" />
     <mapping resource="data/StepRecord.xml" />
     <mapping resource="data/Comment.xml" />
     
</session-factory>
</hibernate-configuration>